{%extends 'principal.html'%}



{%block body%}
    <!-- Jumbotron -->
    <div class="jumbotron">
      <h1>Image uploader</h1>
      <p class="lead">This is just a simple view to upload images to an album.</p>

    </div>

    {% if message %}
      <div class='alert alert-info'>
        {{ message }}
      </div>
    {% endif %}

    <h3>Upload a picture</h3> 
    <form  role="form"  enctype="multipart/form-data" action="" method="POST" id="upload-image-form"> 
        {% csrf_token %}
        {{ f.as_p }}
        <button type="submit" class="btn btn-danger" >Guardar</button>
    </form>
{%endblock body%}