{%extends 'principal.html'%}
{%block body%}
<div class="container">
<form  role="form"  enctype="multipart/form-data" action="" method="POST" >{%csrf_token%}
	{{f.as_p }}
	<button type="submit" class="btn btn-danger" >Guardar</button>
</form>


</div>
{%endblock body%}
