{%extends 'principal.html'%}
{%block body%}

<a href="crear_doctor"a>Nuevo Doctor </a>
<div class="p-3 mb-2 bg-transparent text-dark">
<div class="container">
<h1>LISTA DE Doctores</h1>
<table class="table table-sm">
    <tr>
        <th scope="col">Cedula</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Nombres</th>
        <th scope="col">Celular</th>
        <th scope="col">Cuentas</th>
    </tr>
    {% for c in lista_doctores%} 
        <tr>
            <td><a href="modificar_doctor/?cedula={{c.cedula}}">{{c.cedula}} </a></td>
            
            <td>{{c.apellidos}}</td>
            <td>{{c.nombres}}</td>
            <td>{{c.celular}}</td>
            <td><a href="eliminar_doctor/?doctor_id={{c.doctor_id}}">eliminar</a></td>
                <td><a href="modificar_doctor/?cedula={{c.cedula}}">modificar docotor</a></td>
                
        </tr>
        
    {%endfor%}

</table>


{%endblock body%}