{%extends 'principal.html'%}
{%block body%}
sasaasasas
modificar{{dni}}

<br>
{{doctor}}
<h1>MODIFICAR DE Docotr</h1>
<form method="POST">{%csrf_token%}
	{{formulario.as_p}}
	<button type="submit" >	Modificar</button>
	<button type="submit" >Eliminar</button>
</form>


////////////
{%endblock body%}