{%extends 'principal.html'%}
{%block body%}

<a href="crear_doctor"a>Nuevo Doctor </a>
<a href="guardar_imagen"a>Nueva Imagen </a>

<div class="p-3 mb-2 bg-transparent text-dark">
<div class="container">
<h1>LISTA DE Imagenes</h1>
<table class="table table-sm">
    <tr>
        <th scope="col">Titulo</th>
        <th scope="col">Descripcion</th>
       <th scope="col">Imagen</th>
       <th scope="col">Doctor</th>
        

    </tr>
    {% for c in lista_imagenes%} 
        <tr>
            <td>{{c.titulo}} </a></td>
            <td>{{c.descripcion}} </a></td>
            <td><img src="{{c.foto.url}}" width="500" height="300"></td>
            <td>{{c.doctor.nombres}}+" "{{c.doctor.apellidos}}</td>
           


            
        </tr>
        
    {%endfor%}

</table>


{%endblock body%}