{%extends 'principal.html'%}
{%block body%}

<a href="crear_persona"a>Nueva Persona </a>
<div class="p-3 mb-2 bg-transparent text-dark">
<div class="container">
<h1>LISTA DE Personas</h1>
<table class="table table-sm">
    <tr>
        <th scope="col">Cedula</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Nombres</th>
        <th scope="col">Direccion</th>
        <th scope="col">Telefono</th>
        <th scope="col">Genero</th>
        <th scope="col">Fecha Nacimiento</th>
        <th scope="col">Celular</th>
        <th scope="col">Rol</th>
        
    </tr>
    {% for c in lista_personas%} 
        <tr>
            <td>{{c.cedula}} </a></td>
            
            <td>{{c.apellidos}}</td>
            <td>{{c.nombres}}</td>
            <td>{{c.direccion}}</td>
            <td>{{c.telefono}}</td>
            <td>{{c.genero}}</td>
            <td>{{c.fechaNacimiento}}</td>
            <td>{{c.celular}}</td>
            <td>{{c.rol.nombre}}</td>

            <td><a href="modificar_persona/?cedula={{c.cedula}}">modificar_persona</a></td>
            <td><a href="eliminar_persona/?persona_id={{c.persona_id}}">eliminar_persona</a></td>
                
                
        </tr>
        
    {%endfor%}

</table>

{%endblock body%}