{%extends 'principal.html'%}
{%block body%}
sasaasasas
modificar{{dni}}

<br>
{{doctor}}
<h1>MODIFICAR Persona</h1>
<form method="POST">{%csrf_token%}
	{{formulario.as_p}}
	<button type="submit" >	Modificar</button>
	
</form>


////////////
{%endblock body%}