{%extends 'principal.html'%}

{%block body%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">


$(document).ready(function(){
  $("input[name=cedula]").change(function(){
    alert("The text has been changed.");
  });
});
	
</script>

<div class="container">
<form method="POST">{%csrf_token%}
	
	{{f}}
	<button type="submit" class="btn btn-danger" >Guardar</button>
</form>


</div>
{%endblock body%}
