{%extends 'principal.html'%}
{%block body%}

<a href="crear_paciente"a>Nuevo Paciente </a>
<div class="p-3 mb-2 bg-transparent text-dark">
<div class="container">
<h1>LISTA DE Pacientes</h1>
<table class="table table-sm">
    <tr>
        <th scope="col">Cedula</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Nombres</th>
        <th scope="col">Genero</th>
        <th scope="col">Doctor ID</th>
        
    </tr>
    {% for c in lista_pacientes%} 
        <tr>
            <td><a href="modificar_doctor/?cedula={{c.cedula}}">{{c.cedula}} </a></td>
            
            <td>{{c.apellidos}}</td>
            <td>{{c.nombres}}</td>
            <td>{{c.genero}}</td>
            <td>{{c.doctor.nombres}}</td>

            <td><a href="modificar_paciente/?cedula={{c.cedula}}">modificar_paciente</a></td>
            <td><a href="eliminar_paciente/?paciente_id={{c.paciente_id}}">eliminar_paciente</a></td>
                
                
        </tr>
        
    {%endfor%}

</table>

{%endblock body%}